.tyh-tips {
  width: 320px;
  min-height: 80px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
  z-index: 4000;
}
.tyh-tips .tyh-tips-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tyh-tips .tyh-tips-header .tyh-tips-title {
  color: #2c405a;
}
.tyh-tips .tyh-tips-header .tyh-tips-close {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.tyh-tips .tyh-tips-title-message {
  font-size: 15px;
  color: #5d5d5d;
  margin-top: 5px;
}
.tyh-tips-top-right {
  top: 20px;
  right: -320px;
  animation: tyhTipsTopRight 0.23s linear forwards;
}
.tyh-tips-bottom-right {
  bottom: 20px;
  right: -320px;
  animation: tyhTipsBottomRight 0.23s linear forwards;
}
.tyh-tips-top-left {
  top: 20px;
  left: -320px;
  animation: tyhTipsTopLeft 0.23s linear forwards;
}
.tyh-tips-bottom-left {
  bottom: 20px;
  left: -320px;
  animation: tyhTipsBottomLeft 0.23s linear forwards;
}
@keyframes tyhTipsTopRight {
  to {
    right: 20px;
  }
}
@keyframes tyhTipsBottomRight {
  to {
    right: 20px;
  }
}
@keyframes tyhTipsTopLeft {
  to {
    left: 20px;
  }
}
@keyframes tyhTipsBottomLeft {
  to {
    left: 20px;
  }
}
