.tyh-button-aurora {
  min-width: 160px;
  height: 40px;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  background: #f72359;
  overflow: hidden;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 100px;

  .tyh-button-aurora-text {
    position: relative;
    font-size: 16px;
    color: #fff;
  }

  &:active {
    border: 2px solid #c70fd8e1;
  }
}


.tyh-button-aurora::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #4405f7, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.tyh-button-aurora:hover::before {
  --size: 300px;
}